<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zy.dao.BidDOMapper">
  <resultMap id="BaseResultMap" type="com.example.zy.dataobject.BidDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="bidding_uid" jdbcType="VARCHAR" property="biddingUid" />
    <result column="purchaser" jdbcType="VARCHAR" property="purchaser" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tender_amount" jdbcType="INTEGER" property="tenderAmount" />
    <result column="tender_acquisition_start_date" jdbcType="TIMESTAMP" property="tenderAcquisitionStartDate" />
    <result column="tender_acquisition_end_date" jdbcType="TIMESTAMP" property="tenderAcquisitionEndDate" />
    <result column="purchasing_area" jdbcType="VARCHAR" property="purchasingArea" />
    <result column="region_type_id" jdbcType="VARCHAR" property="regionTypeId" />
    <result column="qualification_requirements" jdbcType="VARCHAR" property="qualificationRequirements" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.zy.dataobject.BidDO">
    <result column="body" jdbcType="LONGVARCHAR" property="body" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `type`, bidding_uid, purchaser, title, release_time, url, `source`, source_type, 
    `status`, tender_amount, tender_acquisition_start_date, tender_acquisition_end_date, 
    purchasing_area, region_type_id, qualification_requirements
  </sql>
  <sql id="Blob_Column_List">
    body
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.zy.dataobject.BidDO" useGeneratedKeys="true">
    insert into bid (`type`, bidding_uid, purchaser, 
      title, release_time, url, 
      `source`, source_type, `status`, 
      tender_amount, tender_acquisition_start_date, 
      tender_acquisition_end_date, purchasing_area, 
      region_type_id, qualification_requirements, 
      body)
    values (#{type,jdbcType=BIT}, #{biddingUid,jdbcType=VARCHAR}, #{purchaser,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{tenderAmount,jdbcType=INTEGER}, #{tenderAcquisitionStartDate,jdbcType=TIMESTAMP}, 
      #{tenderAcquisitionEndDate,jdbcType=TIMESTAMP}, #{purchasingArea,jdbcType=VARCHAR}, 
      #{regionTypeId,jdbcType=VARCHAR}, #{qualificationRequirements,jdbcType=VARCHAR}, 
      #{body,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.zy.dataobject.BidDO" useGeneratedKeys="true">
    insert into bid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="biddingUid != null">
        bidding_uid,
      </if>
      <if test="purchaser != null">
        purchaser,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="tenderAmount != null">
        tender_amount,
      </if>
      <if test="tenderAcquisitionStartDate != null">
        tender_acquisition_start_date,
      </if>
      <if test="tenderAcquisitionEndDate != null">
        tender_acquisition_end_date,
      </if>
      <if test="purchasingArea != null">
        purchasing_area,
      </if>
      <if test="regionTypeId != null">
        region_type_id,
      </if>
      <if test="qualificationRequirements != null">
        qualification_requirements,
      </if>
      <if test="body != null">
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="biddingUid != null">
        #{biddingUid,jdbcType=VARCHAR},
      </if>
      <if test="purchaser != null">
        #{purchaser,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tenderAmount != null">
        #{tenderAmount,jdbcType=INTEGER},
      </if>
      <if test="tenderAcquisitionStartDate != null">
        #{tenderAcquisitionStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderAcquisitionEndDate != null">
        #{tenderAcquisitionEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasingArea != null">
        #{purchasingArea,jdbcType=VARCHAR},
      </if>
      <if test="regionTypeId != null">
        #{regionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qualificationRequirements != null">
        #{qualificationRequirements,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.zy.dataobject.BidDO">
    update bid
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=BIT},
      </if>
      <if test="biddingUid != null">
        bidding_uid = #{biddingUid,jdbcType=VARCHAR},
      </if>
      <if test="purchaser != null">
        purchaser = #{purchaser,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="tenderAmount != null">
        tender_amount = #{tenderAmount,jdbcType=INTEGER},
      </if>
      <if test="tenderAcquisitionStartDate != null">
        tender_acquisition_start_date = #{tenderAcquisitionStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderAcquisitionEndDate != null">
        tender_acquisition_end_date = #{tenderAcquisitionEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasingArea != null">
        purchasing_area = #{purchasingArea,jdbcType=VARCHAR},
      </if>
      <if test="regionTypeId != null">
        region_type_id = #{regionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qualificationRequirements != null">
        qualification_requirements = #{qualificationRequirements,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.zy.dataobject.BidDO">
    update bid
    set `type` = #{type,jdbcType=BIT},
      bidding_uid = #{biddingUid,jdbcType=VARCHAR},
      purchaser = #{purchaser,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      tender_amount = #{tenderAmount,jdbcType=INTEGER},
      tender_acquisition_start_date = #{tenderAcquisitionStartDate,jdbcType=TIMESTAMP},
      tender_acquisition_end_date = #{tenderAcquisitionEndDate,jdbcType=TIMESTAMP},
      purchasing_area = #{purchasingArea,jdbcType=VARCHAR},
      region_type_id = #{regionTypeId,jdbcType=VARCHAR},
      qualification_requirements = #{qualificationRequirements,jdbcType=VARCHAR},
      body = #{body,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.zy.dataobject.BidDO">
    update bid
    set `type` = #{type,jdbcType=BIT},
      bidding_uid = #{biddingUid,jdbcType=VARCHAR},
      purchaser = #{purchaser,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      tender_amount = #{tenderAmount,jdbcType=INTEGER},
      tender_acquisition_start_date = #{tenderAcquisitionStartDate,jdbcType=TIMESTAMP},
      tender_acquisition_end_date = #{tenderAcquisitionEndDate,jdbcType=TIMESTAMP},
      purchasing_area = #{purchasingArea,jdbcType=VARCHAR},
      region_type_id = #{regionTypeId,jdbcType=VARCHAR},
      qualification_requirements = #{qualificationRequirements,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into bid (type, bidding_uid, purchaser, title, release_time, body, url, source, source_type, status, tender_amount, tender_acquisition_start_date, tender_acquisition_end_date, purchasing_area, region_type_id, qualification_requirements)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.type}, #{item.biddingUid}, #{item.purchaser}, #{item.title}, #{item.releaseTime}, #{item.body}, #{item.url},
      #{item.source}, #{item.sourceType}, #{item.status}, #{item.tenderAmount}, #{item.tenderAcquisitionStartDate}, #{item.tenderAcquisitionEndDate},
      #{item.purchasingArea}, #{item.regionTypeId}, #{item.qualificationRequirements})
    </foreach>
  </insert>
</mapper>